<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="sticky-top">
<%- include('partials/navbar.ejs') %>
</div>
<body class="container">
    <br>
    <br>
    <button onclick="location.href='/admin/addItem'">Add</button>
    <form action="/admin" method="get">
        <input type="text" name="search"><input type="submit" value="search">
    </form>
    <div class="mt-5 row">
        <% data.forEach(ele => { %>
            <div class="mt-3 col">
                <div class="card" style="width: 18rem;">
                    <img style="width: 100%" src="<%=ele.image%>" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title"><%=ele.name%></h5>
                        <p class="card-text"><%=formatPrice(ele.price)%></p>
                        <p class="card-text"><%=ele.ambiguStock%></p>
                        <a href="/admin/<%=ele.id%>/editItem" class="btn btn-primary">Edit</a>
                        <a href="/admin/<%=ele.id%>/deleteItem" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>